
*{
    margin:0 auto;
    padding:0;
}

#one
{
    background-color: orange;
    padding:20px;
    width: 300px;
    margin-top:50px;
    /* transform: rotate(50deg); */
    /* transform:skew(50deg); */
    /* transform:scale(2,1.1); */
    /* transform:translate(300px,200px); */
    /* transform: rotateZ(180deg); */

    animation:abc 2s infinite alternate;

}

@keyframes abc {
    from{}
    to{background-color: green;border-radius: 20px;transform:rotateY(360deg) rotateX(30deg) rotate(50deg) };

}



.offer
{
    padding:10px;
    font-size: 30px;
    width: 300px;
    text-align: center;
    background-color: orange;
    animation:offera 1s infinite alternate;
    opacity: 0;

}

@keyframes offera {
    0%{}
    60%{transform:scale(2,2) translate(0,100px) rotate(50deg);opacity:1;}
    100%{transform:scale(2,2) translate(0,100px); opacity: 1;}
}


.nav
{
    display: flex;
    list-style-type: none;
}
.nav li
{
    flex:1;
    border:1px solid red;
    text-align: center;
    margin:2px;
    padding:10px;
    background:red;
    transition-duration: 500ms;
}
.nav li:hover
{
    transform: translate(0,30px) scale(1.2,1.2);
    transition-duration: 300ms;
    animation: xyz 2s infinite alternate;
}

@keyframes xyz {
    from{}
    to{
         background:green;
    }
}