*
{
    margin:0 auto;
    padding:0;
}

:root
{
    --h:60px;
}

.mybav
{
    width:1200px;
    height: var(--h);
    background-color: orangered;
    display: flex;

}
.mybav>section
{
    /* border:1px solid green; */
    /* padding:5px; */
    flex:1;
}

/* .mybav>section:nth-child(2)
{
    flex:3;
} */

.menu
{
    flex:3 !important;
}

.menu ul
{
    list-style-type: none;
}
.menu ul li
{
    width:150px;
    height: var(--h);
    /* border:1px solid green; */
    float:left;
    line-height: var(--h);
    text-align: center;
   
}
.menu a
{
    color:white;
    text-decoration:none;
     background:linear-gradient(orange,red);
    width:100%;
    height: var(--h);
    float: left;
}

.menu ul li ul {
    display: none;
}
.menu ul li:hover ul
{
    display: block;
}
.menu ul a:hover
{
    background:linear-gradient(rgb(255, 190, 70),rgb(244, 112, 112));
}

.menu>ul>li>ul>li>a
{
    background:linear-gradient(green,blue);
}


/* end of dropdown ---------------------------------------------*/




.sub
{
    width:1200px;
    height: var(--h);
    background-color: orangered;
    display: flex;

}
.sub>section
{
    flex:1;
}

.submenu
{
    flex:3 !important;
}

.submenu ul
{
    list-style-type: none;
}
.submenu ul li
{
    width:150px;
    height: var(--h);
    float:left;
    line-height: var(--h);
    text-align: center;
   
}
.submenu a
{
    color:white;
    text-decoration:none;
     background:linear-gradient(orange,red);
    width:100%;
    height: var(--h);
    float: left;
}



.submenu>ul>li>ul>li>a
{
    background:linear-gradient(green,blue);
}

.submenu ul li ul li ul
{
    margin-left:150px;
}

.submenu ul li ul
{
    display: none;
}

.submenu ul li:hover ul
{
    display: block;
}
.submenu ul li:hover ul li ul
{
    display: none;
}
.submenu ul li ul li:hover ul
{
    display: block;
}