*
{
    margin:0 auto;
    padding:0;
}

:root{
    --w:1200px;
    --b:1px solid rgb(4, 0, 246);
    --g:rgb(1, 230, 255);
    --mt:20px;
}


.page
{
    width:var(--w);
    height: 200px;
    border:var(--b);
    background-color: var(--g);
    margin-top:var(--mt);
}

.row
{
    width:var(--w);
    height: 200px;
    border:var(--b);
    margin-top:var(--mt);
    display: flex;
}
.row>section
{
    border:var(--b);
    padding:10px;
    flex:1;
    margin:5px;
}


.navbar
{
    height: 60px;
}

.navbar>section:nth-child(2)
{
    flex:2.1;
}


.gallery
{
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
}
.gallery>section
{
    width:250px;
    height: 200px;
    flex:none;
    background-color: var(--g);
}

.menu
{
    list-style-type: none;
    display: flex;
}
.menu>li
{
    flex:1;
    text-align: center;
}
.menu a
{
    text-decoration: none;
}